
body {
    background: #fff;
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
    font-family: 'Cormorant', 'poppins', serif;
    font-size: 2rem;
    font-weight: bolder;
}

.main-box {
    height: 80%;
    width: 300px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    font-family: 'Cormorant', 'poppins', serif;
    font-size: 2rem;
}
.facebookbox, .applebox, .googlebox {
    display: inline-flex;
    border: 2px solid black;
    border-radius: 25px;
    margin: 10px;
    padding: 10px 30px 10px 40px;
    background: none;
    font-style: inherit;
}
.vector-image{
    width: 50%;
    height: 70%;
    margin: 0 auto;
}
.icon1{
    width: 30px;
    height: 30px;
    padding-right: 10px;
}
.googlebox:hover{
    border: 4px solid blue;
}
.facebookbox:hover {
    border: 4px solid blue;
}
.applebox:hover {
    border: 4px solid blue;
}
.signin{
    background: #1745A5;
    color: white;
    padding: 10px 30px 10px 40px;
    border-radius: 25px;
    display: inline-flex;
    margin: 10px;
    font-family: 'Cormorant', 'poppins', serif;
    font-size: 1.5rem;
    border: none;
}
.signin:hover{
    background: #7394DA;
    color: black;
    border: 2px solid black;
}
span{
    color: grey;
}
footer{
    font-size: 24px;
}
.blank{
    text-decoration: none;
    color: black;
}
.blank:hover{
    color:#1745A5;
}